.wrapper {
	text-align: center;
}


body {
	font-size: 16px
}

h1{
	font-size: 2em;
	color: white;
}

header {
	background: blue;
	position: fixed;
	width: 100%;
	transition: all 2s;
}

.sticky{
	background-color: gold;
	color: black;
	height: 100px;
}