body {
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 20px;
	line-height: 1.5;
	cursor: default;
	margin: 0 auto;
	background-color: black;
	 
}

#wrapper{
	text-align: center;
	width: 100%;
	height: 100%;
	background-color: black;
}


/*header {
	background: blue;
	position: fixed;
	width: 100%;
	height: 15%;
	clear: both;
	transition: all 2s;

}*/

#header{
background-color: yellow;
width: 100%;
height: 15%;
clear: both;
}




#mini-navbar{
	width: 100%;
	height: 8%;
	background-color: black;
	align-content: right;
	text-align: right;
}

#mini-navbar a{
	text-decoration: none;
	color: yellow;

	
}


#qsc{
	background-color: yellow
	width: 100%;
	height: 15%;
	margin: 0 auto;
	line-height: 15%;
	padding-top: 20px;
	
}

#qsc img{
	width: 30%;
	margin: 0 auto;
	
		
}



#main-navbar{
	width: 100%;
	height: 15%;
	clear:both;
	background-color: black;
	align-content: center;
}



#main-navbar a{
	text-decoration: none;
	
}


#main-div{
	width: 100%;
	
}

li{
	display: inline-block;
	font-weight: bold;
	margin-left: 20px;
	margin-right:20px;
}

#footer{
	width: 100%;
	height: 15%;
	background-color: black;
	display: inline-block;
}

#footer img{
	width:80%;
	height:95%;
	clear: both;
	display: inline-block;
}


#mrRightside{
	width: 20%;
	height: 90px;
	float: right;
	background-color: black;
	margin-right: 0px;
}

.social{
	width: 35px;
	height: 35px;
	border-radius: 50%;
	background-color: salmon;
	display: inline-block;
}


/*create div within footer float it right and make the dots an unordered list*/